h1 Trang Login
if(message)
    h1=message
form(action="postLogin", method="post")
    label UserName
    input(name="name", type='text')
    label Password
    input(name="password")
    button submit