if(errors)
    ul
       each err in errors
          li=err
if(success)
    h1=success

form(action='store', method='post')
    Label id
    input(name='id', type='text')
    label name
    input(name='name', type='text')
    label image
    input(type='file', name='avatar')
    input(type='hidden', name='csrf', value=csrf_token)
    button Create

h1
    a(href="list") List