if(success)
   h1=success
form(action="search", method='get')
    input(type='text',name="search")
    button submit
a(href='create') create
ul
    each user in list
        if(user !== undefined)
            li=user.name
               a(href="delete/"+user.id) delete
